.logo {
    background-image: url("../images/logo.svg");
    width: 174px;
    height: 42px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.navbar{
    &::after, &::before{
      content: "";
      width: 50%;
      height: 2px;
      position: absolute;
      bottom: 0;
    }
    &::after{
      background-color: #62DB54;
    }
    &::before{
      background-color: #09ACF5;
      right: 0;
    }
}

.nav-link{
    &:hover{
        color: $primary !important;   
    }
}

.copyright{
    text-align: center;
    color:#909090;
}