<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light py-0">
    <div class="container py-4">
      <a class="navbar-brand logo" href="#">logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="material-icons-outlined">
          drag_handle
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white" aria-current="page" href="#">首頁</a>
          <a class="nav-link text-white ms-lg-6" href="#">課程介紹</a>
          <a class="nav-link text-white d-flex align-items-center ms-lg-7" href="#"><span class="material-icons pe-2">
              account_circle
            </span>登入</a>
        </div>
      </div>
    </div>
  </nav>

  <%- contents %>
    <footer class="bg-dark-gray py-4">
      <p class="copyright my-0">Coding Home © 2022 All Rights Reserved</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>

</body>

</html>